.rainbowBackground {
  background: linear-gradient(
    135deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #8b00ff
  );
  background-size: 1200% 1200%;
  animation: rainbow 10s ease infinite;
}
