* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  transition: background 1s ease-in-out; /* Smooth background transition */
}

span {
  font-size: 0.5em;
  font-family: monospace;
  color: transparent;
  -webkit-text-fill-color: #e1d1db;
  text-align: center;
  margin-bottom: 1rem;
}

/* Default background */
.app.default {
  background-color: #1a2a6c;
}

/* Space-themed backgrounds */
.app.space {
  background: radial-gradient(circle at center, #000428, #004e92);
}

.app.nebula {
  background: linear-gradient(45deg, #360033, #0b8793);
}

.app.galaxy {
  background: radial-gradient(circle, #1a2a6c, #b21f1f, #fdbb2d);
}

.app.starfield {
  background: black;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); /* Using subtle star texture */
}

/* textured backgrounds */
.app.white-diamond {
  background-color: #000736;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
}

/* Natural backgrounds */
.app.snowy-mountains {
  background: url("https://images.unsplash.com/photo-1527236278376-a1ed0f95da30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.sunset-beach {
  background: url("https://images.unsplash.com/photo-1422493757035-1e5e03968f95?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.amazon-forest {
  background: url("https://images.unsplash.com/photo-1568399032147-1011aa65f85a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.volcano {
  background: url("https://images.unsplash.com/photo-1720709734276-cd14a216bcad?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.underwater {
  background: url("https://images.unsplash.com/photo-1560259324-12a044e67c34?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.app.desert {
  background: url("https://images.unsplash.com/photo-1559767180-47d8f4919e5d?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

/**
.audioControl {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.audio-button {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: #ffffff;
  background-color: #000000;
}

.soundcloud-player {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  z-index: 1;
}

.play-pause-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  text-align: center;
  color: transparent;
  -webkit-text-fill-color: #e1d1db;

  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.play-pause-button:hover {
  background-color: transparent;
  border: 1px solid #e1d1db;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}


.audioControl {
  max-width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
  */
